#grid-container-main{
	display: grid;
	margin: 0px, 0px, 0px, 0px;
	width: 100%;
	height: 100%;
	padding: 5px, 5px, 5px, 5px;
	grid-template-columns: repeat(5, auto);
	grid-template-rows:	repeat(3, auto);
	border: black 5px;
}

#start-button{
	display: block;
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	margin: auto auto auto auto;
	width: 55%;
	}
	
@font-face {
font-family: 'deutsch_gothicnormal';
src: url('resources\deutch-gothic-font\deutsch-webfont.woff2') format('woff2'),
url('resources\deutch-gothic-font\deutch-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}


}